name: PR Preview Deploy

on:
  # Runs on `pull_request` events targeting `main` branch
  pull_request:
    branches:
    - main
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false
  
jobs:
  deploy-preview:
    environment: dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      # (Optional) Add steps here to build your static site if necessary
      # e.g., run 'npm install', 'npm run build'

      - name: Deploy PR Preview
        uses: rossjrw/pr-preview-action@v1 # Use the preview action
        with:
          source-dir: ./ # The directory containing your static files
          # The action automatically handles creating a unique preview URL
